autopep8==1.5
diff-match-patch==20181111
Django==3.1.13
django-ckeditor==5.9.0
django-datetime-widget==0.9.3
django-filter==2.2.0
django-import-export==2.0.2
django-js-asset==1.2.2
django-rest-framework==0.1.0
django-userforeignkey==0.3.0
djangorestframework==3.11.2
djangorestframework-api-key==2.0.0
mkl-random==1.1.0
prompt-toolkit==2.0.10
psycopg2==2.8.4
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
jango==3.0.6
django-filter==2.2.0
django-userforeignkey==0.3.0
djangorestframework==3.11.2
djangorestframework-api-key==2.0.0
Pillow==8.3.2
pytz==2020.1
GitPython==3.1.2
sqlparse==0.3.1
