{% extends 'core/index.html'%}
{% load static%}

{% block content %}
<div class="eventscontainer">
        <div class="card">
        <h2>L O G I N</h2>
        OnyGo<br><br><br>
        <form class="form" method="POST">
            {%csrf_token%}
            <table>
                {{form.as_table}}
            </table><br><br>
            <div class="cardfooter">
                <b><button class="generic-bouton" type="submit">L o g i n</a></b>
            </div><br><br>
            <div class="cardfooter">
                <b><a class="generic-bouton" > J'ai oublié mon password</a></b>
            </div><br><br><b>

        </div>
</div>
{% endblock content %}
