{% extends 'core/index.html'%}
{% load static%}

{% block content %}
    <h1>S' I N S C R I R E</h1>
<div class="container">
    <form class="form" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
            <div class="wrapper">
                        {{ form.as_p}}
                        {{ profileForm.as_p}}
            </div>
        <input class="boton" type="reset" value="Annuler">
        <input class="boton" type="submit" value="Envoyer">
    </form>
</div>

{% endblock content %}
