{% extends 'base.html'%}
{% load static%}

{% block title%}
    Mes Evévements
{% endblock title%}

{% block headimg%}
{% endblock headimg%}

{% block content %}
<h1> Changer mon mot de passe</h1>
<div class="container">
    <form class="form" method="POST">
        {% csrf_token %}<br><br>
        <div class="wrapper">
    <p>
        {{form.as_p}}
        <div class="cardfooter">
            <b><button  class="generic-bouton"  type="submit">Mofidier</button></b>
        </div>
    <p>
    </div>
</div>



{% endblock content %}
