{% extends 'base.html'%}
{% load static%}
    {% block title %}
        Créer un événement
    {% endblock title %}

{%block content%}
    <h2> Chercher un événement<br></h2><br><br><br>
{% include 'core/search.html' %}

{% if events %}
    <div class="eventscontainer">
            {% for line in events %}
            <div class="card">
                    <br><br>
                    <b>Événement: </b>{{line.event_name}}<br><br>
                    <b>Description: </b>{{line.event_description}}<br><br>
                    <b>Proposé par:</b> {{line.owner}}<br><br><br>

                    <b>Adresse: </b>{{line.event_address}}<br>
                    <b>Date: </b>{{line.date}}<br><br>
                    <div class="cardfooter">
                        <h4><b>
                            <a href="{% url 'apply' id=line.id %}">Apply</a>
                        </b></h4>
                    </div>
            </div>
            {% endfor %}
        <div class="paginator">
            <div class="search-content">
                <ul class="pagination">
                    {{ events.has_previous }}<br>
                    {{ events.has_next}}<br>
                    {{ events.paginator.count}}<br>
                    {{ events.paginator.num_pages }}<br>
                    {{ events.paginator.page_range }}<br>
                    {% if events.has_previous %}
                            <li><a href="?page={{ events.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&laquo; Anterior</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                        {% if events.has_next %}
                            <li><a href="?page={{ events.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&raquo; Siguiente</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                </ul>
            </div>
        </div>

{% else%}
    <h1 style="color:red;"> NO EVENT YET CHERCHER-EVENEMENT.HTML</h1>
{% endif %}


{%endblock content%}
