{% extends 'base.html'%}
{% load static%}
    {% block title %}
        Créer un événement
    {% endblock title %}

{%block content%}
    <h2> Chercher un événement<br></h2><br><br><br>
{% include 'core/search.html' %}

{% if events %}
<h1><p><center> Tes événements</center> </p></h1>
    <div class="eventscontainer">
            {% for line in events %}
            <div class="card">
                    <b>Événement: </b>{{line.event_name}}<br><br>
                    <b>Description: </b>{{line.event_description}}<br><br>
                    <b>Proposé par:</b> {{line.owner}}<br><br><br>

                    <b>Adresse: </b>{{line.event_address}}<br>
                    <b>Date: </b>{{line.date}}<br><br>
                    <div class="cardfooter">
                        <h4><b>
                            <a href="{% url 'apply' id=line.id %}">Apply</a>
                        </b></h4>
                    </div>
            </div>
            {% endfor %}
            <div class="paginator">
                <ul class="pagination">
                        {% if events.has_previous %}
                            <li><a href="?page={{ events.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&laquo;</a></li>
                        {% else %}
                             <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in events.paginator.page_range %}
                                {% if events.number == i %}
                                    <li class="active"><span>{{ i }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">{{ i }}</a></li>
                                {% endif %}
                        {% endfor %}
                        {% if events.has_next %}
                            <li><a href="?page={{ events.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&raquo; </a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
            </div>
    </div>
    </div>
{% else%}
    <h1 style="color:red;"> Tu n'as pas encore des événements</h1>
{% endif %}


{%endblock content%}
