{% extends 'base.html'%}
{% load static%}


{% block title %}
    Créer un événement
{% endblock title %}

{% block headimg%}
{% endblock headimg%}

<h2> creer un événement</h2>
    <h1>{{request.user}}</h1>

{% block content %}

<div class="container">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="wrapper">
                    {{form.as_p}}
            </div>
            <div class="btns-create-event">
                <p>
                    <input type="reset" class="boton"></input>
                    <input type="submit" class="boton"></input>
                </p>
            <div>

        </form>
    </div>
</div>
{% endblock content %}
