{% extends 'base.html'%}
{% load static%}


{% block title %}
    Créer un événement
{% endblock title %}

{% block headimg%}
{% endblock headimg%}

<h2> creer un événement</h2>
    <h1>{{request.user}}</h1>

{% block content %}

<div class="container">
        <form class="form" method="POST">
            {% csrf_token %}
            <span style="margin-top: 8vh; font-size:2rem; font-weight:bold;">CREATION D'UN EVENEMENT</span>
            <div class="wrapper">
                    {{form.as_p}}
                    <div class="btns-create-event">

                            <input type="reset" class="boton"></input>
                            <input type="submit" class="boton"></input>

                    <div>
            </div>


        </form>

</div>
{% endblock content %}
