{% extends 'base.html'%}
{% load static%}

{% block title%}
    Mes Evénements
{% endblock title%}


{% block headimg%}
{% endblock headimg%}

<h2> Boite de réception</h2>

{%block content%}
{% if context%}
    <div class="eventscontainer">
        <div class="card">
            <b>Messagerie<br><br><br>
        <div class="cardfooter">
        {% for sender in context %}
                <a class="generic-bouton" href="{% url 'show_messages' sender  %}"><p>Expediteur : {{ sender | title}}</p></a>
        {% endfor %}
        </div>
        </div>
        </div>


        {% else%}
            <h1 style="color:red;"> Pas de messages
{%endif%}




{%endblock content%}
