{% extends 'base.html'%}
{% load static%}

    {% block title%}
        On-Y-Go - Index
    {% endblock title%}

    {% block content %}
    <section class="imgcontainer">
            <img class="mainimg" src="/static/imgs/{{randomsport}}.jpg">
            <div class="TextOverImg">
                <div class="CenterdText">
                    <h2 class="slogan">Envie de {{randomsport}}?</h2><br><br></h2>
                    <p class="slogan">Viens avec nous!<br> Together, further!</p>
                </div>
            </div>
    </section>
        <section class="container">
            <article>
                <div class="element" id="element2">
                    <h2>Envie de {{randomsport}}?<br><br></h2>
                    <p>Viens avec nous!</p>
                </div>
             </article>
        </section>
        <section class="container" id="element3">
            <article>
                <div class="element" id="element3">
                    <h2>Back to The Future<br><br></h2>
                    <p>

                        (Doc’s Garage) (It’s a mess. Doc opens a book. ‘Hill Valley Telegraph Archives March 1st - April 30th 1973’. On the page he turns to is a headline – “Local Author Shot Dead.” We stay focused on the paper as Doc speaks.) (v.o) I went to the public library to try and make sense out of all the madness. The place was boarded up, shut down, so I broke in and borrowed some newspapers. I don't get it Doc, I mean how can this be happening? It's like we're in hell or something. No, its Hill Valley, although I can't imagine hell being much worse! (Einstein whines. Doc takes a candle and goes over to him.) Oh Einie, I'm sorry boy, the lab is an awful, awful, awful, awful mess! (He flips over Einstein’s dog bed and the dog hops in.) </p>
                </div>
                <div class="element">
                    <h2>Le Boeing ukrainien a été abattu par un missile iranien, selon Trudeau et Johnson</h2>
                    <p>Le Premier ministre britannique Boris Johnson a de son côté affirmé disposer d’un “ensemble d’informations” selon lesquelles le Boeing 737 ukrainien qui s’est écrasé mercredi près de Téhéran a été “abattu par un missile sol-air iranien”.
                        “Il y a maintenant un ensemble d’informations”, selon lesquelles l’avion “a été abattu par un missile sol-air iranien”, “cela pourrait bien avoir été accidentel”, a-t-il déclaré dans un communiqué publié peu après annonce du président canadien Justin Trudeau dans ce sens. Boris Johnson a par ailleurs affirmé que quatre Britanniques figuraient parmi les 176 victimes, contre trois jusqu’alors.(He runs inside his house and shuts the door behind him.) (to himself) Science Fiction Theater. </p>
                </div>
             </article>
        </section>
        <section class="container">
            <article>
                <div class="element" id="element2">
                    <p>Don't tell me anything. (Doc puts a suction cup on Marty's forehead.) Doc, you gotta help… Quiet, quiet. I'm gonna read your thoughts. Let's see now, you've come from a great distance? Yeah, exactly.But I came back from the future, remember? Last night you fainted... I brought you home. This can't be happening! You can't be here! It doesn't make sense! I don't believe you are here. (Doc runs into the bathroom and slams the door, leaving Marty standing outside.) I am here, and it does make sense. I came back to 1955 with the you from 1985 to get a book back from Biff. So once we got the book back, you...that is the you from 1985...were in the Delorean when it got struck by lightning and you got sent back to 1885! 1885? Opens door. It's a very interesting story, Future Boy, but there's one little thing that doesn't make sense. If the me in the future is now in the past, how could you possibly know about it?</p>
                </div>
             </article>
        </section>
    {% include 'core/footer.html' %}

    {% endblock %}
