{% extends 'base.html'%}
{% load static%}

    {% block title%}
        On-Y-Go - Index
    {% endblock title%}

    {% block content %}
    <section class="imgcontainer">
            <img class="mainimg" src="/static/imgs/{{randomsport}}.jpg" alt="Image de personnes qui font une activité sportive">
                <div class="CenterdText">
                    <p class="slogan">Envie de {{randomsport}}?</p>
                    <p class="slogan">Viens avec nous!<br> Together, further!</p>
                </div>
    </section>
        <section class="container">
            <article>
                <div class="element">
                    <p>Envie de {{randomsport}}?<br><br></p>
                    <p>Viens avec nous!</p>
                </div>
             </article>
        </section>
        <section class="container">
            <article>
                <div class="element" id="element3">
                    <h2>Trouve un partainaire pour jouer<br><br></h2>
                    <p>
                        Avec OnYGo tu peux trouver un partainaire pour completer ton equipe,
                        une personne pour faire un joggin ou tout simplement un adversaire pour une partie de COD
                    </p>
                </div>
                <div class="element" id="element3">
                    <h2>Crée un événement sportif dans ta ville</h2>
                    <p> Si tu ne trouves pas un événement déjà crée, tu peux toujours en créer un!  </p>
                </div>
             </article>
        </section>

    {% include 'core/footer.html' %}

    {% endblock %}
