{% extends 'base.html'%}
{% load static%}

    {% block title%}
        On-Y-Go - Index
    {% endblock title%}

    {% block content %}
    <section class="imgcontainer">
            <img class="mainimg" src="/static/imgs/{{randomsport}}.jpg">
            <div class="TextOverImg">
                <div class="CenterdText">
                    <h2 class="slogan">Envie de {{randomsport}}?</h2><br><br></h2>
                    <p class="slogan">Viens avec nous!<br> Together, further!</p>
                </div>
            </div>
    </section>
        <section class="container">
            <article>
                <div class="element">
                    <p>Envie de {{randomsport}}?<br><br></p>
                    <p>Viens avec nous!</p>
                </div>
             </article>
        </section>
        <section class="container">
            <article>
                <div class="element" id="element3">
                    <h2>Trouve un partainaire pour jouer<br><br></h2>
                    <p>
                        Avec OnYGo tu peux trouver un partainaire pour completer ton equipe,
                        une personne pour faire un joggin ou tout simplement un adversaire pour une partie de COD
                    </p>
                </div>
                <div class="element">
                    <h2>Crée un événement sportif dans ta ville</h2>
                    <p> Si tu ne trouves pas un événement déjà crée, tu peux toujours en créer un!  </p>
                </div>
             </article>
        </section>
        <section class="container">
            <article>
                <div class="element" id="element2">
                    <p>Don't tell me anything. (Doc puts a suction cup on Marty's forehead.) Doc, you gotta help… Quiet, quiet. I'm gonna read your thoughts. Let's see now, you've come from a great distance? Yeah, exactly.But I came back from the future, remember? Last night you fainted... I brought you home. This can't be happening! You can't be here! It doesn't make sense! I don't believe you are here. (Doc runs into the bathroom and slams the door, leaving Marty standing outside.) I am here, and it does make sense. I came back to 1955 with the you from 1985 to get a book back from Biff. So once we got the book back, you...that is the you from 1985...were in the Delorean when it got struck by lightning and you got sent back to 1885! 1885? Opens door. It's a very interesting story, Future Boy, but there's one little thing that doesn't make sense. If the me in the future is now in the past, how could you possibly know about it?</p>
                </div>
             </article>
        </section>
    {% include 'core/footer.html' %}

    {% endblock %}
