<header class="header">
    <nav role="navigation" >
        <div class="desktop_menu">
            <ul>
                {% if user.is_authenticated %}
                    <li> <a href="{% url 'index'%}">Home</a></li>
                    <li> <a href="{% url 'search' %}">Chercher un événement</a></li>
                    <li> <a href="{% url 'create_event' %}">Creer un événement</a></li>
                    <li> <a href="{% url 'my_events'  %}">Mes événements</a></li>
                    <div>
                        <li style="color:#FFFFFC"> Hello {{user.get_short_name | title}} !</li>
                        <center><li><a href="{% url 'profile' %}">Mon profil</li></a></center>
                    </div>
                    <li><a href="{% url 'logout' %}">Logout</a> </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a> /
                        <a href="{% url 'create_user' %}">Sign in</a></li>
                {% endif%}
            </ul>
        </div>
    </nav>

    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>









</header>
