{% extends 'base.html'%}
{% load static%}

{% block title%}
    Mes Evénements
{% endblock title%}


{% block headimg%}
{% endblock headimg%}

<h2> Boite de réception</h2>

{%block content%}
{% if msgs_list%}
    <div class="eventscontainer">
        <div class="card">
        {% for msg in msgs_list %}
                <p>{{sender}}, le {{msg.sent}}:</p>
                <p>{{msg.text}}</p>
                <hr class="msgs">
        {% endfor %}

        <!-- {% for snt in sent_msg %}
            <p>Moi, le {{snt.sent}}:</p>
            <p>{{snt.text}}</p>
            <hr class="msgs">
        {% endfor %} !!!-->
        <form class="search-box" method="POST"  action="{% url 'send_message' sender=request.user.id receiver=sender.id  %}">
            {%csrf_token%}
            <input type="text" name="text" class="search-input" placeholder="Répondre">
            <input type="submit" class="boton" value="Envoyer">

        </form>
        </div>
        </div>


        {% else%}
        <span class="alert-error">
            <p style="margin: 4vw;">Tu n'as pas de messages</p>
            <div class="closebtn" onclick="this.parentElement.style.display='none';">&times;</div>
            </div>
        </span>
{%endif%}




{%endblock content%}
