{% extends 'base.html'%}
{% load static%}

{% block title%}
    Mes Evénements
{% endblock title%}


{% block headimg%}
{% endblock headimg%}

<h2> Boite de réception</h2>

{%block content%}
{% if received%}
    <div class="eventscontainer">
        <div>
        <div class="card">
        {% for msg in received %}
                <p>{{sender}}, le {{msg.sent}}:</p>
                <p>{{msg.text}}</p>
                <hr class="msgs">
        {% endfor %}
        {% for snt in sent_msg %}
            <p>Moi, le {{snt.sent}}:</p>
            <p>{{snt.text}}</p>
        {% endfor %}
        <form class="search-box" method="POST"  action="{% url 'send_message' sender=request.user.id receiver=sender.id  %}">
            {%csrf_token%}
            <input type="text" name="text" class="search-input" placeholder="Répondre">
            <input type="submit" class="boton" value="Envoyer">

        </form>
        </div>
        </div>


        {% else%}
            <h1 style="color:red;"> Pas de messages
{%endif%}




{%endblock content%}
