{% extends 'base.html'%}
{% load static%}

{% block title%}
    Mes Evénements
{% endblock title%}


{% block headimg%}
{% endblock headimg%}

<h2> liste de mes evenements à valideer</h2>

{%block content%}
{% if events%}
    <div class="eventscontainer">
        <div class="card">
            <th>Personnes intéresés</th>
            {% for event in events %}
            {% if event not in accepted%}
                <p><b><a href="{% url 'visit_profile' event.guest.user_id  %}">{{event.guest | title}}</a> est intéresé(e)</b>
                <b><button type="submit"><a href="{% url 'accept' event.guest.user_id event.id %}">Accepter</button></a> / </b>
                <b><button type="submit">Refuser</button></b>
                {% else %}
                <p><b><a href="{% url 'visit_profile' event.guest.user_id  %}">{{event.guest | title}}</a> a déjà été accpté(e)</b>
                {% endif %}
            {% endfor %}
        </div>
    </div>
        {% else%}
            <h1 style="color:red;"> Pas de demandes pour cet événement valider-demandes.html :-]
{%endif%}

{% if accepted%}
    <div class="eventscontainer">
        <div class="card">
            <th>Personnes Acceptés</th>

            <table>
                <thead>
                    <tr>
                    <th>Utilisateur</th>
                    <th>Contacter</th>
                    </tr>
                </thead>

                <tbody>
                {% for event in accepted %}
                <tr>
                <td><p><b><a href="{% url 'visit_profile' event.guest.user_id  %}">{{event.guest | title}}</a></td>
                <td><p><b><button type="submit"><a href="{% url 'send_message'  sender=user.id receiver=event.guest.user_id %}">Envoyer un message</a></button></td>
                    <!-- <button type="submit"><a href="{% url 'send_message'  sender=user.id receiver=event.guest.user_id %}"> -->
                </tr>
                {% endfor %}
                </tbody>


        </div>
    </div>
        {% else%}
            <h1 style="color:red;"> Pas de demandes pour cet événement valider-demandes.html :-]
{%endif%}



{%endblock content%}
